.body__section_three {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  text-align: center;

  h3 {
    font-size: clamp(0.8rem, 1.5vw, 2rem);
  }

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    margin: 10px auto;
    padding: 0 5px;
  }

  button {
    background: transparent;
    padding: 5px 15px;
    border: 2px solid gray;
    color: gray;
    font-size: clamp(0.6rem, 1vw, 1.6rem);
  }
  p {
    color: gray;
  }

  .body__section_three_img_one {
    .wrapper {
      position: relative;

      .item_one {
        position: absolute;
        bottom: 15%;
        left: -90px;
        background-color: black;
        color: white;
        transform: rotate(-90deg);
        width: 44%;
        font-size: clamp(1rem, 10vw, 2rem);
      }
    }
  }

  .body__section_three_img_two {
    .wrapper {
      position: relative;
      .item_two {
        position: absolute;
        bottom: 2%;
        left: 50px;
        background-color: black;
        color: white;
        font-size: clamp(1rem, 10vw, 2rem);
        letter-spacing: 3px;
        width: 80%;
        text-align: center;
      }
    }
  }

  .body__section_three_img_three {
    .wrapper {
      position: relative;
      .item_three {
        position: absolute;
        bottom: 24%;
        right: -24.3%;
        transform: rotate(90deg);
        background-color: black;
        width: 65%;
        color: white;
        font-size: clamp(1rem, 7vw, 2rem);
      }
    }
  }
}
